<div class="row">
  <div class="col-sm-12 text-xs-center bootstrap-welcome">
    <h1 class="jumbotron">Referrals</h1>
    <p class="lead">Referral Reference System</p>
  </div>
</div>

<div>
  <div class>
    <%= link_to "New Enquiry", new_enquiry_path, class: 'button' %>
  </div>
</div>

<div>
  <% if @enquiries.present? %>
  <h2>Your Referrals</h2>

  <table style="width: 100%">
    <thead>
      <tr>
        <th>Created At</th>
        <th>First Name</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% @enquiries.each do |e| %>
      <tr>
        <td><%= e.created_at %></td>
        <td><%= e.first_name %></td>
        <td><%= link_to 'Show', e %></td>
        <td><%= link_to 'Edit', edit_enquiry_path(e) %></td>
        <td><%= button_to 'Delete', e, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
    
  <% else %>
  No enquiries to display
  <% end %>
</div>

